<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap stylesheet -->
    <title>To-do Flask</title>
</head>
<body>
    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-sm logo text-center">
                        <h1>TODO LIST</h1>
                </div>
                <div class="col-sm sign-in">
                    <form action="#" class="signup-form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button id="submit" type="submit" class="btn btn-primary">Log in</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>