@import url('https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand&display=swap');

body{
    font-family: 'Patrick Hand', cursive;
}

.container-fluid{
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 110vh;
}

h1{
    font-family: 'Neucha', cursive;
    font-size: 5em;
}

.todo{
    padding: 5px;
    border: rgb(212, 212, 212) 1px solid;
    background: white;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease-in;
    &:hover{
        box-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
}

.todos{
    padding: 30px;
    border-radius: 16px;
    background: white;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    &:hover{
        box-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
}

.add-todo{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: white;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: 300ms ease-in;

    &:hover{
        box-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
}